<h1>Stupid Coaching</h1>
<div class="question">
  <p id="your_message"><%= @your_message %></p>
  <p class="person">-You</p>
</div>

<div class="answer">
  <p id="coach_answer">
  <% if @your_message.downcase == "i am going to work right now!" %>
    <%= "" %>
  <% elsif @your_message.end_with?("?") %>
    <%= "Silly question, get dressed and go to work!" %>
  <% else %>
    <%= "I don't care, get dressed and go to work!" %>
  <% end %>
  </p>
  <p class="person">-Your Coach</p>
</div>

<a class="link"><%= link_to 'Ask a new question', ask_path  %></a>
